### import packages

In [1]:
import pandas as pd
import numpy as np

### Load train and test data

In [2]:
train_data_path = r"../data/processed/train.csv"
test_data_path = r"../data/processed/test.csv"

In [3]:
train_data = pd.read_csv(train_data_path)
test_data  = pd.read_csv(test_data_path)
print(f"train data shape : {train_data.shape}")
print(f"test data shape : {test_data.shape}")

train data shape : (16512, 18)
test data shape : (4128, 18)

In [4]:
train_data.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
0,14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,5.017657,0.200576,3.691814,0,0,0,0,1,103000.0
1,8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,4.473545,0.232703,1.738095,0,0,0,0,1,382100.0
2,17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,5.645833,0.174486,2.723214,0,0,0,0,1,172600.0
3,14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,4.002817,0.258269,3.994366,0,0,0,0,1,93400.0
4,2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,6.268421,0.180940,2.300000,0,1,0,0,0,96500.0

In [5]:
test_data.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
0,20046,-119.01,36.06,25.0,1505.0,437.0,1392.0,359.0,1.6812,4.192201,0.202808,3.877437,0,1,0,0,0,47700.0
1,3024,-119.46,35.14,30.0,2943.0,437.0,1565.0,584.0,2.5313,5.039384,0.202808,2.679795,0,1,0,0,0,45800.0
2,15663,-122.44,37.80,52.0,3830.0,437.0,1310.0,963.0,3.4801,3.977155,0.202808,1.360332,0,0,0,1,0,500001.0
3,20484,-118.72,34.28,17.0,3051.0,437.0,1705.0,495.0,5.7376,6.163636,0.202808,3.444444,1,0,0,0,0,218600.0
4,9814,-121.93,36.62,34.0,2351.0,437.0,1063.0,428.0,3.7250,5.492991,0.202808,2.483645,0,0,0,0,1,278000.0

In [6]:
test_data.rename(columns={'Unnamed: 0':'index'}, inplace=True)

In [7]:
test_data.set_index("index")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
index,,,,,,,,,,,,,,,,,
20046,-119.01,36.06,25.0,1505.0,437.0,1392.0,359.0,1.6812,4.192201,0.202808,3.877437,0,1,0,0,0,47700.0
3024,-119.46,35.14,30.0,2943.0,437.0,1565.0,584.0,2.5313,5.039384,0.202808,2.679795,0,1,0,0,0,45800.0
15663,-122.44,37.80,52.0,3830.0,437.0,1310.0,963.0,3.4801,3.977155,0.202808,1.360332,0,0,0,1,0,500001.0
20484,-118.72,34.28,17.0,3051.0,437.0,1705.0,495.0,5.7376,6.163636,0.202808,3.444444,1,0,0,0,0,218600.0
9814,-121.93,36.62,34.0,2351.0,437.0,1063.0,428.0,3.7250,5.492991,0.202808,2.483645,0,0,0,0,1,278000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15362,-117.22,33.36,16.0,3165.0,482.0,1351.0,452.0,4.6050,7.002212,0.152291,2.988938,1,0,0,0,0,263300.0
16623,-120.83,35.36,28.0,4323.0,886.0,1650.0,705.0,2.7266,6.131915,0.204950,2.340426,0,0,0,0,1,266800.0
18086,-122.05,37.31,25.0,4111.0,538.0,1585.0,568.0,9.2298,7.237676,0.130868,2.790493,1,0,0,0,0,500001.0
2144,-119.76,36.77,36.0,2507.0,466.0,1227.0,474.0,2.7850,5.289030,0.185880,2.588608,0,1,0,0,0,72300.0
3665,-118.37,34.22,17.0,1787.0,463.0,1671.0,448.0,3.5521,3.988839,0.259093,3.729911,1,0,0,0,0,151500.0

In [8]:
train_data.rename(columns={'Unnamed: 0':'index'}, inplace=True)
train_data.set_index("index")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
index,,,,,,,,,,,,,,,,,
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,5.017657,0.200576,3.691814,0,0,0,0,1,103000.0
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,4.473545,0.232703,1.738095,0,0,0,0,1,382100.0
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,5.645833,0.174486,2.723214,0,0,0,0,1,172600.0
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,4.002817,0.258269,3.994366,0,0,0,0,1,93400.0
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,6.268421,0.180940,2.300000,0,1,0,0,0,96500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35.0,1330.0,201.0,658.0,217.0,6.3700,6.129032,0.151128,3.032258,1,0,0,0,0,229200.0
11964,-117.43,34.02,33.0,3084.0,570.0,1753.0,449.0,3.0500,6.868597,0.184825,3.904232,0,1,0,0,0,97800.0
5390,-118.38,34.03,36.0,2101.0,569.0,1756.0,527.0,2.9344,3.986717,0.270823,3.332068,1,0,0,0,0,222100.0
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,6.395349,0.166993,3.178891,1,0,0,0,0,283500.0
15795,-122.42,37.77,52.0,4226.0,1315.0,2619.0,1242.0,2.5755,3.402576,0.311169,2.108696,0,0,0,1,0,325000.0

In [9]:
housing_prepared = train_data.drop(['median_house_value'],axis=1)
housing_labels = train_data['median_house_value']

### Hyper Parameter Tuning

In [10]:
from sklearn.svm import SVR
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import expon, reciprocal, uniform

In [11]:
param_distribs = {
        'kernel': ['linear', 'rbf'],
        'C': uniform(1, 10),
        'gamma': expon(scale=1.0),
    }

svm_reg = SVR()
rnd_search = RandomizedSearchCV(svm_reg, param_distributions=param_distribs,n_iter =5,
                                cv=5, scoring='neg_root_mean_squared_error',
                                verbose=2, random_state=42)
rnd_search.fit(housing_prepared, housing_labels)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] END C=4.745401188473625, gamma=3.010121430917521, kernel=linear; total time=11.0min
[CV] END C=4.745401188473625, gamma=3.010121430917521, kernel=linear; total time= 9.7min
[CV] END C=4.745401188473625, gamma=3.010121430917521, kernel=linear; total time=10.0min
[CV] END C=4.745401188473625, gamma=3.010121430917521, kernel=linear; total time=10.1min
[CV] END C=4.745401188473625, gamma=3.010121430917521, kernel=linear; total time=10.8min
[CV] END C=8.796910002727692, gamma=0.9084469696321253, kernel=rbf; total time=   6.6s
[CV] END C=8.796910002727692, gamma=0.9084469696321253, kernel=rbf; total time=   6.5s
[CV] END C=8.796910002727692, gamma=0.9084469696321253, kernel=rbf; total time=   6.6s
[CV] END C=8.796910002727692, gamma=0.9084469696321253, kernel=rbf; total time=   6.4s
[CV] END C=8.796910002727692, gamma=0.9084469696321253, kernel=rbf; total time=   6.5s
[CV] END C=2.5599452033620267, gamma=0.059838768608680676, kernel=rbf; total time=   6.6s
[CV] END C=2.5599452033620267, gamma=0.059838768608680676, kernel=rbf; total time=   6.4s
[CV] END C=2.5599452033620267, gamma=0.059838768608680676, kernel=rbf; total time=   6.4s
[CV] END C=2.5599452033620267, gamma=0.059838768608680676, kernel=rbf; total time=   6.6s
[CV] END C=2.5599452033620267, gamma=0.059838768608680676, kernel=rbf; total time=   6.6s
[CV] END C=4.337086111390218, gamma=0.15416196746656105, kernel=linear; total time= 9.2min
[CV] END C=4.337086111390218, gamma=0.15416196746656105, kernel=linear; total time= 9.3min
[CV] END C=4.337086111390218, gamma=0.15416196746656105, kernel=linear; total time= 9.6min
[CV] END C=4.337086111390218, gamma=0.15416196746656105, kernel=linear; total time= 8.9min
[CV] END C=4.337086111390218, gamma=0.15416196746656105, kernel=linear; total time= 9.0min
[CV] END C=1.2058449429580245, gamma=3.503557475158312, kernel=rbf; total time=   6.5s
[CV] END C=1.2058449429580245, gamma=3.503557475158312, kernel=rbf; total time=   6.4s
[CV] END C=1.2058449429580245, gamma=3.503557475158312, kernel=rbf; total time=   6.5s
[CV] END C=1.2058449429580245, gamma=3.503557475158312, kernel=rbf; total time=   6.5s
[CV] END C=1.2058449429580245, gamma=3.503557475158312, kernel=rbf; total time=   6.4s

RandomizedSearchCV(cv=5, estimator=SVR(), n_iter=5,
                   param_distributions={'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f6aca0a3850>,
                                        'gamma': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f6aca0a5430>,
                                        'kernel': ['linear', 'rbf']},
                   random_state=42, scoring='neg_root_mean_squared_error',
                   verbose=2)

In [12]:
rnd_search.best_params_

{'C': 4.745401188473625, 'gamma': 3.010121430917521, 'kernel': 'linear'}

In [13]:
cvres = rnd_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

278.22246660428385 {'C': 4.745401188473625, 'gamma': 3.010121430917521, 'kernel': 'linear'}
344.6492542949422 {'C': 8.796910002727692, 'gamma': 0.9084469696321253, 'kernel': 'rbf'}
344.64955221668464 {'C': 2.5599452033620267, 'gamma': 0.059838768608680676, 'kernel': 'rbf'}
279.4546608683469 {'C': 4.337086111390218, 'gamma': 0.15416196746656105, 'kernel': 'linear'}
344.6496169105693 {'C': 1.2058449429580245, 'gamma': 3.503557475158312, 'kernel': 'rbf'}

### Evaluation

In [17]:
from sklearn.metrics import mean_squared_error

In [14]:
final_model = rnd_search.best_estimator_

In [15]:
test_prepared = test_data.drop(['median_house_value'],axis=1)
test_labels = test_data['median_house_value']

In [18]:
final_predictions = final_model.predict(test_prepared)

final_mse = mean_squared_error(final_predictions, test_labels)
final_rmse = np.sqrt(final_mse)
print("RMSE : ", final_rmse)

RMSE :  76241.3695376467